body {
	color: #162F77
	background-color: #FDFFFC;
	}

	#map {  height: 600px;
	border: 3px solid black;
	max-width: 60%;
    margin: auto;
	border-radius: 25px;
    text-align: center;
	margin-top: 8px
	}

	h1 {
	background-color: #FFDE00;
	color: #162F77;
	}

	h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #162F77
	}

	h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #162F77
	}

	p {
	font: Times New Roman;
	font-size: 18px;
	text-align: center;
	max-width: 60%;
    margin: auto;
	}

	#title {
	background-color: #cccccc;
	font-family: 'Montserrat', sans-serif;
	max-width: 60%;
    margin: auto;
    text-align: center;
	border-radius: 25px;
	}

	#racers {
	font: Times New Roman;
    margin: auto;
    text-align: center;
	border-radius: 25px;
	margin-top: 8px
	}

	#map_intro {
	font: Times New Roman;
	font-size: 14px;
    margin: auto;
    text-align: center;
	border-radius: 25px;
	margin-top: 8px
	}

	.button{
	border-color: #162F77;
	color: #162F77;
	padding: 15px 15px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: 4px 4px;
	cursor: pointer
	}

	
